.button {
  animation: disappear .3s ease-in;
  color: #fff !important;
  font-weight: 700 !important;
  width: 100% !important;
  padding: 1em !important;
  position: relative !important;
  border-radius: 20px !important;
}

.btn-container {
  position: relative !important;
}

.button:hover::after {
  animation: appear .3s ease-in;
  opacity: 100%;
}

.button::after {
  animation: disappear .3s ease-in;
  opacity: 0;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(-40deg, #f1a83b 20%, #c14e38 90%);
}

.shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  filter: blur(10px);
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(40deg, #f1a83baa 20%, #c14e38aa 90%);
}

.shadow::after {
  animation: disappear .3s ease-in;
  opacity: 0;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(11px);
  background: linear-gradient(-40deg, #f1a83baa 20%, #c14e38aa 90%);
}

.btn-container:hover .shadow::after {
  animation: appear .3s ease-in;
  opacity: 100%;
}

@keyframes appear {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes disappear {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}