:root {
  --borderHover: #cdd5d2;
  --primary: #f1a83b
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'DM Sans';
  font-weight: 100 !important;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase !important;
  font-family: "Monument";
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


.card {
  min-width: 200px !important;
  max-width: 500px !important;
  height: 320px !important;
}

.card__header {
  background: #00000059;
  backdrop-filter: blur(5px);
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  flex-direction: column;
  bottom: 0;
  border-top: 2px solid var(--borderHover);
}


.card__header p {
  color: #fff !important;
  font-family: 'DM Sans' !important;
  font-size: 1em;
  text-align: left;
}

.card__header p:first-child {
  font-weight: bold;
}

.card__header h2 {
  font-size: 2em;
}

.card__image {
  opacity: 80% !important;
}

.about__container {
  display: flex !important;
  gap: 4em;
  flex-direction: row-reverse !important;
}

.about_row {
  width: 40% !important;
  display: flex;
  height: 500px !important;
  flex-direction: column;
  user-select: none;
}

.about_row .about__img {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  object-fit: cover !important;
  transition: all .3s ease-in;
}

.about_row img {
  height: 50%;
  width: 100%;
  object-fit: cover !important;
  border: 10px solid #cdd5d2;
  transition: all .3s ease-in;
}

.about_row h3 {
  transition: all .3s ease-in;
}

.about_row img:hover {
  border: 10px solid #923ad8;
}



.about_row h3:hover {
  filter: drop-shadow(0 0 1em var(--primary));
  color: var(--primary);
}

.about_row p {
  font-family: 'DM Sans';
  transition: all .3s ease-in;
}

.about_row p:hover {
  text-shadow: 0 0 10em var(--primary), 0 0 10em var(--primary);
  color: var(--primary);
}

@media only screen and (max-width: 1000px) {
  .card__header p {
    font-size: .8em !important;
  }

  .grid__card__container {
    display: flex !important;
    width: 100% !important;
    flex-direction: column;
  }

  .about_row {
    width: 100% !important;
  }

  .about_row img {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2em !important;
  }

  p {
    font-size: 1em !important;
  }

  .navbar {
    display: none;
  }

  .grid__card {
    display: flex !important;
    width: 100% !important;
  }

  .about__container {
    flex-direction: column !important;
    gap: 5em;
  }
}