.container-title {
  background-image: url("/sneakers.jpg");
  background-size: 120%;
  background-position: left;
}

.title {
  backdrop-filter: blur(10px);
  background-color: #000000ee;
  box-shadow: 2em 0em 5em #000000;
}

@media only screen and (max-width: 1000px) {
  .title {
    width: 100%;
    display: flex;
    padding: 2em !important;
  }
}